.container {
  display: table-cell;
  width: 50%;
}

.horizontal-container {
  display: table-cell;
  width: 100%;
}

.right {
  background-color: #33adff;
}

.wrapper {
  display: table;
  margin: auto;
  background-color: #0066ff;
}

.backdrop {
  background-color: #0066ff;
  width: 100%
}


h2,
h3,
p {
  text-align: center;
}

input {
  padding: 3px;
  border: 2px solid black;
  margin-bottom: 8px;
  z-index: 9999;
}

.content {
  margin: 20px;
  text-align: center;
  background-color: #33ccff;
  padding: 10px;
  border: 1px solid black;
  width: 300px;
  min-height: 50px;
}

.li-content {
  text-align: center;
  background-color: #33ccff;
  border: 1px solid black;
}

.li-dragged {
  width: 287px;
}

.dragged {
  background-color: darkcyan;
}
